body { margin: 0; }

div
{
  background-color: #009688;
  padding: 20px 20px;
  align: center;
}

a:link, a:visited
{
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
}

a:hover
{
  color: #009688;
  background-color: white;
}

.testoBlu
{
  color: blue;
}