body { margin: 0; }

.navbar
{
  background-color: #009688;
  padding: 20px 20px;
  align: center;
}

a:link, a:visited
{
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Sans-Serif;
  font-weight: bold;
}

a:hover
{
  color: #009688;
  background-color: white;
}

h1
{
  color: white;
  font-family: Arial, Sans-Serif;
}

h2
{
  color: #444444;
  font-family: Arial, Sans-Serif;
}

.titoloCategoria
{
  background-color: #cceee6;
  color: #050;
  font-weight: 200;
  padding: 25px;
  margin: 25px;
  border: 1px solid black;
  text-align: center;
 // text-size: 50px;
}

.contenuto
{
  margin: 0px 25px;
}